.nav {
    margin: 20px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 25px;
    border-radius: 24px;
    background: #212121;
    color: #fff;
    gap: 5px;

    a {
        &hover {
            color: #0000;
        }
    }

    h2 {
        font-size: 1rem;
        font-weight: 400;
        text-decoration: underline;
        cursor: pointer;
    }
}